<div class="main">
  <div class="head">
    <div class="new-button">
      <a href="./memos/new">新しいメモをつくる</a>
    </div>
  </div>

  <h2>メモ一覧</h2>
  <ul>
    <% @memos.reverse_each do |file_name| %>
    <% File.open("#{file_name}", "r") do |file| %>
    <% memo = JSON.parse(file.read, symbolize_names: true) %>
    <li>
      <a href=<%= "./memos/#{memo[:id]}" %> class="list"><%= memo[:title] %></a>
    </li>
    <% end %>
    <% end %>
  </ul>
</div>
