<div class="main">
  <h3><%= h @memo['title'] %></h3>
  <p>
    <% body = (h @memo['body']) %>
    <%= body.gsub(/(\r\n|\r|\n)/, "<br>") %>
  </p>
</div>

<div class="button-list">
  <div class="other-button">
    <a href="/memos">メモ一覧</a>
  </div>

  <div class="other-button">
    <a href="/memos/edit/<%= @memo['id'] %>">変更</a>
  </div>

  <form method="post" action="/memos/<%= @memo['id'] %>">
    <button name="_method" type="hidden" value="delete" />削除</button>
  </form>
</div>
