<div class="main">
  <div class="memo-form">
    <form method="post" action="/memos/new">
      <div class="form-items">
        <input type="text" name="title" placeholder="タイトル" required>
      </div>
      <div class="form-items">
        <textarea name="body" placeholder="内容"></textarea>
      </div>
      <div class="submit-button">
        <button type="submit">保存</button>
      </div>
    </form>
  </div>
</div>
